// Your custom SCSS should be written here...
header{
	
	background: #990000;
}

#logo {

	color: #ffcc00;
}

.btn {
	
	margin-top: 20px;
}

  .row {
    margin-bottom: 25px;
    text-align: center;
  }

  .head, .head:hover {
    box-shadow: none;
    margin-top: 30px;
  }

  .head span {
    font-weight: bold;
    color: #353535;
  }

  .head span span {
    font-size: 32px;
    font-weight: bold !important;
  }

  a {
    color: #d04526;
  }

  @media only screen and (max-width: 767px) {

    h1 {
      font: 50px;
      -webkit-transition-duration: .5s;
    }

  }

.dining_hall_image img {

	-webkit-transform: scale(1);
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 200ms;
}

.dining_hall_image img:hover {

	-webkit-transform: scale(1.1);
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 200ms;
}

.special{
	color: #ffcc00;
	text-align: center;
	font-size: 4em;
}

