// Your custom SCSS should be written here...
header{
	
	background: #990000;
}

#logo {

	color: #ffcc00;
}

.btn {
	
	margin-top: 20px;
}

  .head, .head:hover {
    box-shadow: none;
    margin-top: 30px;
  }

  .head span {
    font-weight: bold;
    color: #353535;
  }

  .head span span {
    font-size: 32px;
    font-weight: bold !important;
  }

  a {
    color: #d04526;
  }

  @media only screen and (max-width: 767px) {

    h1 {
      font: 50px;
      -webkit-transition-duration: .5s;
    }

  }

.dining_hall_row {

	-webkit-transform: scale(1);
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 200ms;
}

.dining_hall_row:hover{

	-webkit-transform: scale(1.05);
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-duration: 200ms;
}

.special{
	color: #ffcc00;
	text-align: center;
	font-size: 4em;
}

.dining_hall_title {

  text-align: left;
  font-size: 5em;

}

  .row{
    margin-bottom: 25px;
    text-align: center;
  }

  .row.dining_hall_row{
    border-top: 3px solid #cccccc;
    border-bottom: 3px solid #cccccc;

  }

  .row #easter_egg{
    border: none;
  }

.dining_hall_row{
    @include respond(portrait-phones){

      h1, h2{
        font-size: 48px;
        word-wrap: none;
      }
  }
    @include respond(all-phones){
      h1, h2{
        font-size: 48px;
        word-wrap:none;
      }
      .tab-nav > li > a{
        
        width: auto;

      }
    }
}

.veggie{
  color: #008000;
}
.vegan{
  color: #ffcc00;
}

.hours{
  text-decoration: underline;
}
.slogan{
  color:#ffcc00;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}​